@charset "UTF-8";

body {
	font: 12px Helvetica, Arial, san-serif;
}

#wrapper {
	margin: 0 auto;
	width: 610px;
}

#content {
	width: 600px;
	box-shadow: 0 0px 5px #666;
	background-color: #fff;
	margin: 0 auto;
	padding: 10px 5px 50px 5px;
	float: left;
}

#mainarticle {
	padding: 0 10px;
	width: 585px;
	float: left;
}

#rightside {
	width: 300px;
	float: left;
	display: none;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 28px;
}

.author {
	font-size: 12px;
	margin-top: 5px;
}

/* Carosel */
#example {
	width:500px;
	height:353px;
	position:relative;
	float: left;
}

#slides {
	position:absolute;
	top:15px;
	left:35px;
	z-index:100;
}

.slides_container {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	width:500px;
	overflow:hidden;
	position:relative;
	display:none;
	height: 323px;
}

.slides_container div.slide {
	width:500px;
	height:323px;
	display:block;
}

#slides .next, #slides .prev {
	position:absolute;
	top:125px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:500px;
}

.slide img {width: 500px; height: 323px;}

.pagination {
	margin:26px auto 0;
	width:100px;
	display: none;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:60px;
	padding:10px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:480px;
	
	color:#fff;
	text-shadow:none;
}

.caption p {
	font: 12px Arial, Helvetica, sans-serif;
	line-height:1.33;
	margin: 0;
}

.prev img {height: 70px;}
.next img {height: 70px;}

/****** END CAROSEL ******/

#sidebar {
	float: left;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	padding: 10px;
	width: 630px;
	margin: 5px 0;
	background-color: #f9f9f9;
	display: none;
}

.asidetitle {
	font-size: 12px;
	color: #9b9b9b;
	text-transform: uppercase;
	font-weight: bold;
	width: 630px;
	float: left;
}

.sidebarlist {list-style: none;}

.sidebarlist li a {
	color: #4e5989;
	font-size: 12px;
	float: left;
	width: 145px;
	line-height: 16px;
	padding: 0 10px 0 0;
}

#aroundweb {
	margin: 15px 0 0 0;
	float: left;
}

.sidebarlist li a span {
	color: #999;
	margin: 3px 0 0 0;
	width: 150px;
	height: 14px;
	text-decoration: none;
	float: left;
	font-size: 10px;
	overflow: hidden
}

#articletext {
	float: left;
}

article p {
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
}

#share {
	float: left;
	width: 560px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin: 20px 0 0 20px;
	padding: 10px 0 10px 0;
}

#fbshare, #twittershare, .addthis_toolbox, #emailshare, #printshare {
	float: left;
	width: 150px;
}

#emailshare a, #printshare a {color: #4e5989;}
#emailshare img, #printshare img { padding: 0 5px 0 0; vertical-align: bottom;}
#emailshare, #printshare {
	padding: 3px 0 0 0;
	width: 130px;
	display: none;
}

/*** jQuery mobile overriding styles ***/
.ui-body-c .ui-link {
	color: #4e5989;
	font-weight: normal;
}

.ui-body-c {
	
	background: #d2d5dc; /* Old browsers */
	background: -moz-linear-gradient(top, #d2d5dc 0%, #ffffff 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2d5dc), color-stop(75%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d2d5dc 0%,#ffffff 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d2d5dc 0%,#ffffff 75%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #d2d5dc 0%,#ffffff 75%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d5dc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d2d5dc 0%,#ffffff 75%); /* W3C */
}